name: "Close stale issues"
on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * *"

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: >
          We are marking this issue as stale because it has not been updated for a while. This is just a way to keep the support issues queue manageable.
          
          It will be closed soon unless the stale label is removed by a committer, or a new comment is made.
        stale-issue-label: 'stale'
        exempt-issue-labels: 'jbs:needs-report,keep'
        days-before-stale: 90
        days-before-close: 30
        operations-per-run: 100
        remove-stale-when-updated: true
        labels-to-add-when-unstale: 'keep'
